<div>
    <h1>All Products</h1>

    <div class="col col-lg-10">
      
        <table class="table table-striped">
            <thead class="bg-info text-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">price</th>
                <th colspan="2" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="allproducts.length < 1 && !isFeatching" colspan="6">
                 <span class="d-flex justify-content-center"> No Product Available</span>
                </td>
                <td *ngIf="isFeatching" colspan="6">
                  <div class="spinner-grow d-flex justify-content-center" role="status">
                    <span class="visually-hidden d-flex justify-content-center" style="width: 3rem; height: 3rem;">Loading...</span>
                  </div>
                </td> 
              </tr>
              <tr *ngFor="let prod of allproducts">
                
                <th scope="row">{{prod.id}}</th>
                <td *ngIf="!isEdit"> {{prod.pname}}</td>
                <td *ngIf="isEdit"> <input type="text" value="{{prod.pname}}" name="name" id=""> </td>
                <td *ngIf="!isEdit"> {{prod.des}} </td>
                <td *ngIf="isEdit"> <input type="text" value="{{prod.des}}" name="des" id=""> </td>
                <td *ngIf="!isEdit">${{prod.price}}</td>
                <td *ngIf="isEdit"> <input type="text" value="{{prod.price}}" name="price" id=""> </td>
                <td ><button (click)="onDel(prod.id)" class="btn btn-sm btn-danger">Delete</button>
                      <button *ngIf="!isEdit" (click)="onEdit(prod.id)" class="btn btn-sm btn-success mx-2 my-2">Edit</button>
                      <button *ngIf="isEdit" (click)="onUpdate(prod.id, prod)" class="btn btn-sm btn-info mx-2 my-2">Update</button>
                      
                </td>
              </tr>
             </tbody>
          </table>
          <button (click)="productFetch()" class="btn btn-sm btn-success me-3">Fetch Data</button>
          <button (click)="clrAll()" class="btn btn-sm btn-warning">Clear All</button>
          

    </div>
</div>
